[package]
name = "TodoS"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
colored = "3.0.0"
chrono = "0.4.42"
dirs = "6.0.0"